<h1><%= @title %></h1>

<%= render 'shared/errors', obj: @bird %>

<% yield %>

<%= form_with(model: @bird, local: true) do |f| %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

